<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings/privacity" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Blocked users</ion-title>
    <ion-button slot="end" (click)="openModal()">
      <ion-icon slot="icon-only" name="add"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
  
<ion-content color="dark" padding>

  <ion-list class="list-group" *ngIf="settings && settings.privacity.blockedusers.length">

      <app-user-item (click)="openAlert(blockeduser)" *ngFor="let blockeduser of settings.privacity.blockedusers" [user]="blockeduser"></app-user-item>

  </ion-list>

  <div class="text-center" *ngIf="settings && settings.privacity.blockedusers.length === 0">
    <ion-text color="medium">
      <p>No users blocked</p>
    </ion-text>
  </div>

</ion-content>
  