
<ion-content color="dark">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" [routerLink]="['/rooms/create']">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list class="list-group" *ngIf="loaded && myRooms.length">

        <app-contact-item [group]="true" [sliding]="true" *ngFor="let room of myRooms" [room]="room" (deleted)="delete(room)"></app-contact-item>

    </ion-list>

    <div class="text-center" *ngIf="loadingFail">
        <ion-button color="medium" fill="clear" (click)="chargeRooms()" class="btn-refresh"><ion-icon slot="icon-only" name="refresh"></ion-icon></ion-button>
    </div>

    <div class="text-center" *ngIf="loaded && !myRooms.length && !loadingFail">
        <ion-text color="medium">
            <p>No rooms to show</p>
        </ion-text>
    </div>

</ion-content>
