<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/settings/notifications" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>Notifications</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">

    <ion-item-group  lines="none" *ngIf="settings">
      <ion-item color="medium" detail="false">
        <ion-label text-wrap>
          <ion-text>
            <h3>Private chats</h3>
          </ion-text>
          <ion-text color="light">
            <p>
              <small *ngIf="settings.notifications.private.active">Yes</small>
              <small *ngIf="!settings.notifications.private.active">No</small>
            </p>
          </ion-text>
        </ion-label>
        <ion-toggle slot="end" mode="md" color="success" name="privateroomNotifications" 
          [(ngModel)]="settings.notifications.private.active" (ionChange)="changeSettings($event)"></ion-toggle>
      </ion-item>
    </ion-item-group>



    <ion-list class="list-group">
        <ion-item color="medium" (click)="openModal()" detail="false">
          <ion-icon slot="start" color="secondary" name="person-add"></ion-icon>
          <ion-label>
              <ion-text color="secondary">
                Add a exception
              </ion-text>
          </ion-label>
        </ion-item>

        <div *ngIf="!loadingFail && proomsExcepetions.length">
          <ion-item color="medium" (click)="activateNotifications( proomexception )" 
            *ngFor="let proomexception of proomsExcepetions">
            <ion-avatar slot="start">
              <img [src]="proomexception.avatar">
            </ion-avatar>
            <ion-label text-wrap>
              <ion-text>
                <h3>{{ proomexception.nick }}</h3>
              </ion-text>
              <ion-text color="light">
                <p><small>Silenced</small></p>
              </ion-text>
            </ion-label>
          </ion-item>
        </div>
        
    </ion-list>

    <div class="text-center" *ngIf="loadingFail">
      <ion-button color="medium" fill="clear" (click)="chargePrivateRoomExceptions()" class="btn-refresh"><ion-icon slot="icon-only" name="refresh"></ion-icon></ion-button>
    </div>

    <div class="text-center" *ngIf="!loadingFail && proomsExcepetions.length === 0">
      <ion-text color="medium">
        <p>There are no exceptions</p>
      </ion-text>
    </div>
  
  </ion-content>
  