<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <div class="login-content">

      <div class="logo-container">
          <ion-img src="../assets/images/login-logo.png"></ion-img>
      </div>

      <div class="login-form-container">

        <form (ngSubmit)="submitLoginForm()" #loginForm="ngForm" novalidate>

          <ion-item color="medium">
            <ion-label position="floating" color="light">Email</ion-label>
            <ion-input type="email" name="email" [(ngModel)]="user.email" #emailModel="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="emailModel.dirty && emailModel.valid"></ion-icon>
          </ion-item>
    
          <ion-item color="medium">
            <ion-label position="floating" color="light">Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="user.password" #passwordModel="ngModel" required></ion-input>
            <ion-icon name="checkmark-circle" slot="end" color="success" *ngIf="passwordModel.dirty && passwordModel.valid"></ion-icon>
          </ion-item>
    
          <ion-button type="submit" expand="full" color="success" fill="solid" class="register-button" shape="round"
          [disabled]="loginForm.invalid">
            LOGIN
          </ion-button>

        </form>

        <div class="login-link">
          <small>Create your account now!  </small>
          <a [routerLink]="['/auth/register']">Register</a>
        </div>

      </div>

      <div class="social-network-login-container">
        <ion-text color="light">
          LOGIN WITH
        </ion-text>
        <div class="social-network-buttons table">
  
          <div class="cell">
            <ion-button size="small" shape="round" fill="solid" class="facebook" (click)="loginFB()">
              <ion-icon name="logo-facebook"></ion-icon>
            </ion-button>
          </div>
  
          <div class="cell">
            <ion-button size="small" shape="round" fill="solid" class="googleplus" (click)="loginGoogle()">
              <ion-icon name="logo-googleplus"></ion-icon>
            </ion-button>
          </div>
  
          <div class="cell">
              <ion-button size="small" shape="round" fill="solid" class="twitter" (click)="loginTwitter()">
                <ion-icon name="logo-twitter"></ion-icon>
              </ion-button>
          </div>
        </div>
  
      </div>

  </div>

</ion-content>
