<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Rooms
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <div class="container">
    <div class="toolbar-container">
        <ion-toolbar color="primary">
          <ion-searchbar showCancelButton color="light" mode="ios" (ionChange)="searchRoom( $event )"></ion-searchbar>
        </ion-toolbar>
    </div>
    
      <div class="list-container">
        <ion-slides pager="true" [options]="slideOpts" class="slide-items">
          <ion-slide *ngFor="let room of filteredRooms">
            <app-room-slide-item [room]="room" (click)="openAlert( room )"></app-room-slide-item>
          </ion-slide>             
        </ion-slides>
      </div>
  </div>
  
</ion-content>
  
