
    <div class="modal-content">


        <img src="../../../../../../assets/images/alert.icon.png"class="alert-logo">

        <h2>¡Attention!</h2>
        <h5>Your account will be deleted forever</h5>

        <p>You will lose all the events in wich you are registered, as well as your chats.</p>


        <div class="button-area">
          <ion-button expand="block" color="light" (click)="eliminateAccount()"><ion-text color="danger">I agree</ion-text></ion-button>
          <ion-button expand="block" color="light" (click)="cancel()">Cancel</ion-button>
        </div>
    </div>
 