<ion-header>
  <ion-toolbar color="primary" *ngIf="show === 'room'; else private">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/rooms" text=""></ion-back-button>
    </ion-buttons>

    <div class="table">
      <div class="cell">
          <ion-avatar class="avatar-room">
            <img [src]="room.image">
          </ion-avatar>
      </div>
      <div class="cell">
          <ion-title class="float-rigth">
            {{ room.name }}
          </ion-title>
      </div>
    </div>
    
    <ion-buttons slot="end">
      <ion-button (click)="showPopoverRoom( $event )"><ion-icon slot="icon-only" name="more"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ng-template #private>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/private-rooms" text=""></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="showPopoverPrivate( $event )"><ion-icon slot="icon-only" name="more"></ion-icon></ion-button>
      </ion-buttons>

      <ion-title>{{ privateRoom.addressee.nick }}</ion-title>
    </ion-toolbar>
  </ng-template>
    
</ion-header>
  
  <ion-content>
  
    <div class="chat-content">
      <!-- https://codepen.io/Founts/pen/gmhcl/ -->
      <!-- https://www.materialpalette.com/colors -->
<!--   
      <ion-avatar>
        <img src="../assets/images/avatar.jpg">
      </ion-avatar> -->

      <div class="date-container">
        <ion-chip color="light" class="date">
          <ion-label>Junio 2019</ion-label>
        </ion-chip>
      </div>
      
      <app-chat-message [mine]="false"></app-chat-message>
      <app-chat-message [mine]="true"></app-chat-message>
      <app-chat-message [mine]="true"></app-chat-message>
      <app-chat-message [mine]="false"></app-chat-message>
      <app-chat-message [mine]="true"></app-chat-message>


      <!-- <div class="talk-bubble tri-right round right-in mine">
        <div class="talktext">
          <p>Moving our way back up the right side indented. Uses .round and .right-in</p>
        </div>
        <div class="bubble-hour-right">
            <small class="b-hour">10:53</small><small class="check">✔</small>
        </div>
      </div>
    
      <div class="talk-bubble tri-left round left-in">
        <div class="talktext">
          <p>Moving our way back up the right side indented. Uses .round and .right-in</p>
        </div>
        <div class="bubble-hour-right">
            <small class="b-hour">10:53</small>
        </div>
      </div>
    </div> -->
    <app-message-input class="message-bar"></app-message-input>
    
  </div>
    
  </ion-content>