.chat-content {
    padding: 5px;
    padding-top: 25px; 
	height: 100%;
	width: 100%;
	background-image: url("../../assets/images/chat-background.jpg");
	background-size: contain;
}

.message-bar {
	position: fixed;
	bottom: 5px;
}