<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Home
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div class="chat-content">
      <!-- https://codepen.io/Founts/pen/gmhcl/ -->
      <!-- https://www.materialpalette.com/colors -->
<!--   
      <ion-avatar>
        <img src="../assets/images/avatar.jpg">
      </ion-avatar> -->

      <app-chat-message [mine]="false"></app-chat-message>
      <app-chat-message [mine]="true"></app-chat-message>


      <!-- <div class="talk-bubble tri-right round right-in mine">
        <div class="talktext">
          <p>Moving our way back up the right side indented. Uses .round and .right-in</p>
        </div>
        <div class="bubble-hour-right">
            <small class="b-hour">10:53</small><small class="check">✔</small>
        </div>
      </div>
    
      <div class="talk-bubble tri-left round left-in">
        <div class="talktext">
          <p>Moving our way back up the right side indented. Uses .round and .right-in</p>
        </div>
        <div class="bubble-hour-right">
            <small class="b-hour">10:53</small>
        </div>
      </div>
    </div> -->
  </div>
    
  </ion-content>