.chat-content {
    padding: 5px;
	padding-top: 25px; 
	padding-bottom: 60px;
	height: 100%;
	width: 100%;
	background-image: url("../../assets/images/chat-background.jpg");
	background-size: cover;
	overflow-y: scroll;
	overflow-x: hidden;
}

.message-bar {
	position: fixed;
	bottom: 5px;
}

.date-container {
	width: 100%;
	text-align: center;
	.date {
		margin: 10px auto;
	}
}

.table {
	display: table;
}

.cell {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.avatar-room {
	height: 48px;
	width: 48px;
	display: inline-block;
}


ion-title.float-right {
	width: 100%;
}

.text-center {
    width: 100%;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: 55%;
    height: min-content;
}