<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings/privacity" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Profile data</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content color="dark">
  <ion-radio-group  lines="none">
    <ion-item color="dark" lines="none">
      <ion-text color="medium">
        <small>Who can see my profile data?</small>
      </ion-text>
    </ion-item>
  
    <ion-item color="medium">
      <ion-label>
        All people
      </ion-label>
      <ion-radio slot="end" mode="md" color="success"></ion-radio>
    </ion-item>

    <ion-item color="medium">
      <ion-label>
        My contacts
      </ion-label>
      <ion-radio slot="end" mode="md" color="success"></ion-radio>
    </ion-item>

    <ion-item color="medium">
      <ion-label>
        Anyone
      </ion-label>
      <ion-radio slot="end" mode="md" color="success"></ion-radio>
    </ion-item>

  </ion-radio-group>

  <ion-item-group  lines="none" class="mt">
    <ion-item color="dark" lines="none">
      <ion-text color="secondary">
        Personal information
      </ion-text>
    </ion-item>
  
    <ion-item color="medium">
      <ion-label>
        Name
      </ion-label>
      <ion-toggle slot="end" mode="md" color="success"></ion-toggle>
    </ion-item>

    <ion-item color="medium">
      <ion-label>
        Email
      </ion-label>
      <ion-toggle slot="end" mode="md" color="success"></ion-toggle>
    </ion-item>

  </ion-item-group>

</ion-content>