<div class="room-slide-container">
  <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button color="secondary" mode="ios">
          <ion-label>Join!</ion-label>
      </ion-fab-button>
    </ion-fab>
  <h2>{{ room.name }}</h2>
  
  <img [src]="room.image" class="room-img">

  <ion-item no-border color="dark">
    <ion-label><ion-text color="success">{{ room.creator.nick }}</ion-text></ion-label>
    <ion-badge slot="end" color="tertiary" slot="end" class="users"><ion-icon size="small" name="people"></ion-icon> {{ room.members.length }} </ion-badge>
  </ion-item>

  <ion-item no-border color="dark">
    <ion-label color="medium">{{ room.distance.toFixed(2) }} km</ion-label>
  </ion-item>

  <p><small>{{ room.description }}</small></p>

  <div class="interest-container">
      <ion-chip color="light" *ngFor="let hastag of room.hastags">
        <ion-label>{{ hastag }}</ion-label>
        <ion-icon name="heart"></ion-icon>
      </ion-chip>
  </div>
</div>