<div class="room-slide-container">
  <h3>Nombre sala</h3>
  
  <img src="../../../../assets/images/avatar.jpg" class="room-img">

  <ion-item no-border color="dark">
    <ion-label><ion-text color="success">Andres</ion-text></ion-label>
    <ion-badge slot="end" color="tertiary" slot="end" class="users"><ion-icon size="small" name="people"></ion-icon> 22 </ion-badge>
  </ion-item>

  <ion-item no-border color="dark">
    <ion-label color="medium">12 km</ion-label>
  </ion-item>

  <p><small>ahagagafaaaabababasssvvsvsvshhsgsgsgsgsfsfsghhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhf</small></p>

  <div class="interest-container">
      <ion-chip color="light">
        <ion-label>Icon Chip</ion-label>
        <ion-icon name="heart"></ion-icon>
      </ion-chip>
      <ion-chip color="light">
        <ion-label>Icon</ion-label>
        <ion-icon name="heart"></ion-icon>
      </ion-chip>
      <ion-chip color="light">
        <ion-label>Icon Chip</ion-label>
        <ion-icon name="heart"></ion-icon>
      </ion-chip>
  </div>
</div>