
<div class="talk-bubble round mine" [ngClass]="{ 'tri-right': messageBubble.mine, 'right-in': messageBubble.mine, 'mine': messageBubble.mine, 'tri-left': !messageBubble.mine, 'left-in': !messageBubble.mine }">
  <span *ngIf="!messageBubble.mine" class="username"><small>{{ messageBubble.creator.nick }}</small></span>
  <div class="talktext" [ngClass]="{ 'mine': messageBubble.mine }">
    <p><ion-img [src]="messageBubble.image" *ngIf="messageBubble.image" class="image"></ion-img></p>
    <p>{{ messageBubble.content }}</p>
  </div>
  <div class="bubble-hour-right">
      <small class="b-hour">{{ messageBubble.date | date:'h:mm' }}</small><small *ngIf="messageBubble.mine" class="check">✔</small>
  </div>
</div>