<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/home/private-rooms" text=""></ion-back-button>
      </ion-buttons>
    <ion-title>My contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-toolbar color="primary">
    <ion-searchbar showCancelButton color="light" mode="ios" (ionChange)="filterItems($event)"></ion-searchbar>
  </ion-toolbar>

  <div class="list-container">
    <ion-list class="list-group" *ngIf="!loadingFail && filteredContacts.length">
      <app-user-item (click)="selectUser(user)" *ngFor="let user of filteredContacts" [user]="user"></app-user-item>
    </ion-list>
  </div>

  <div class="text-center" *ngIf="loadingFail">
    <ion-button color="medium" fill="clear" (click)="chargeMyContacts()" class="btn-refresh"><ion-icon slot="icon-only" name="refresh"></ion-icon></ion-button>
  </div>

  <div class="text-center" *ngIf="!filteredContacts.length && !loadingFail">
    <ion-text color="medium">
      <p>No users to show</p>
    </ion-text>
  </div>

</ion-content>
