.register-button {
    margin-top: 2em;
    border-radius: 20px;
}

ion-item {
    --border-radius: 20px;
    margin-bottom: 8px;
}

ion-label {
    --color: #607d8b !important;
}

ion-fab-button.camera {
    height: 40px;
    --color: white;
    // z-index: 4;
    // position: relative;
    // top: -20px;
    // left: 200px;
}

.image-container {
    background-color: #263238;
    height: 180px;
}

.image {
    margin: auto auto;
}