<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/settings/notifications" text=""></ion-back-button>
      </ion-buttons>
      <ion-title>Notifications</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="dark">

    <ion-item-group  lines="none" *ngIf="settings">
      <ion-item color="medium" [routerLink]="['/settings/notifications/private-chats']" detail="false">
        <ion-label text-wrap>
          <ion-text>
            <h3>Rooms</h3>
          </ion-text>
          <ion-text color="light">
            <p>
              <small *ngIf="settings.notifications.rooms.active">Yes</small>
              <small *ngIf="!settings.notifications.rooms.active">No</small>
            </p>
          </ion-text>
        </ion-label>
        <ion-toggle slot="end" mode="md" color="success" name="roomNotifications" 
          [(ngModel)]="settings.notifications.rooms.active" (ionChange)="changeSettings($event)"></ion-toggle>
      </ion-item>
    </ion-item-group>

    <ion-list class="list-group">
        <ion-item color="medium" (click)="openModal()" detail="false">
          <ion-icon slot="start" color="secondary" name="person-add"></ion-icon>
          <ion-label>
              <ion-text color="secondary">
                Add a exception
              </ion-text>
          </ion-label>
        </ion-item>

        <div *ngIf="!loadingFail && roomsExcepetions.length">
          <ion-item color="medium" (click)="activateNotifications(roomexcpetion)" 
            *ngFor="let roomexcpetion of roomsExcepetions">
            <ion-avatar slot="start">
              <img [src]="roomexcpetion.image">
            </ion-avatar>
            <ion-label text-wrap>
              <ion-text>
                <h3>{{ roomexcpetion.name }}</h3>
              </ion-text>
              <ion-text color="light">
                <p><small>Silenced</small></p>
              </ion-text>
            </ion-label>
          </ion-item>
        </div>

    </ion-list>

    <div class="text-center" *ngIf="loadingFail">
      <ion-button color="medium" fill="clear" (click)="chargeRoomExceptions()" class="btn-refresh"><ion-icon slot="icon-only" name="refresh"></ion-icon></ion-button>
    </div>
  
  </ion-content>
  