// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

 /** facebook **/
 .ion-color-facebook {
    --ion-color-facebook: #3B5998;
    --ion-color-facebook-rgb: 59,89,152;
    --ion-color-facebook-contrast: #ffffff;
    --ion-color-facebook-contrast-rgb: 255,255,255;
    --ion-color-facebook-shade: #344e86;
    --ion-color-facebook-tint: #4f6aa2;
  }
 

.sidemenu-header {
    height: 30%;
    z-index: 1;
    .sidemenu-toolbar {
        height: 100%;
        z-index: 2;
    }
}

.username {
    display: flex;
    z-index: 2;
}

.sidemenu-avatar {
    height: 150px;
    width: 150px;
    margin: 0px auto;
    z-index: 3;
    position: relative;
    top: -75px;
}

.sidemnu-content {
    overflow: hidden;
}

.logout-item {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.btn-success {
    color: #cddc39 !important;
    span {
        color: #cddc39 !important;
    }
}

.custom-modal {
    width: 90%;
    border-radius: 15px;
    margin: auto auto;
    overflow: auto;
}

.eliminate-account-modal {
    height: 350px;
}

.modal-content {
    padding: 1em;
}

.text-dark {
    --color: black;
}

ion-toolbar.no-border-toolbar {
    --border-style: none;
    --border-width: none;
    --box-shadow: none;
}

.mapboxgl-popup-content {
    background: #263238 !important;
    color: white;
}

// .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {

// }

// .mapboxgl-popup--blue .mapboxgl-popup-content{
//     background-color: rgb(66,111,175);
//     padding:20px;
//     color: white;
//     max-width:none;
// }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
    border-top-color: #263238 !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
    border-bottom-color: #263238 !important;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
    border-right-color: #263238 !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
    border-left-color: #263238 !important;
}

.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
    border-bottom-color: #263238 !important;
}
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
    border-bottom-color: #263238 !important;
}
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{
    border-top-color: #263238 !important;
}
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{
    border-top-color: #263238 !important;
}

.mapboxgl-popup-close-button {
    color: white;
}