  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button *ngIf="mine"></ion-menu-button>
        <ion-back-button defaultHref="/chat" text="" *ngIf="!mine"></ion-back-button>
      </ion-buttons>
   
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="secondary" class="edit" (click)="editProfile()">
        <ion-icon name="create" mode="ios"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <div class="profile-header">
      
    </div>
    <ion-avatar class="sidemenu-avatar">
      <img src="../assets/images/avatar.jpg" (click)="showImage()">
    </ion-avatar>
    <ion-fab-button size="small" shape="round" fill="solid" color="light" class="camera" (click)="openActionSheet()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
      
  
    <div class="profile-content">

      <ion-text color="secondary">
        <h1>Andres90</h1>
      </ion-text>

      <ion-button color="light" class="linker-btn" size="small" mode="ios">
        <ion-icon name="beer" slot="start"></ion-icon>
        <ion-label>
          Linker!
        </ion-label>
      </ion-button>

      <ion-text>
        <h3>Biography</h3>
      </ion-text>

      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <ion-text>
        <h3>Interests</h3>
      </ion-text>

      <div class="interest-container">
          <ion-chip>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Icon</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
      </div>

      <div class="personal-info-container">
          <ion-text>
            <h3>Personal information</h3>
          </ion-text>
    
          <p>
            <ion-text color="medium"><small>Email: </small></ion-text>
          </p>
          <p>
            anshsgs@email.com
          </p>

          <p>
            <ion-text color="medium"><small>Name: </small></ion-text>
          </p>
          <p>
            Andres Saez
          </p>

      </div>
      
  

    </div>
  
  </ion-content>
  
