<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" class="edit">
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    <div class="profile-header">
      
    </div>
    <ion-avatar class="sidemenu-avatar">
      <img src="../assets/images/avatar.jpg">
    </ion-avatar>
    <ion-fab-button size="small" shape="round" fill="solid" color="light" class="camera">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
      
  
    <div class="profile-content">

      <ion-text color="secondary">
        <h1>Andres90</h1>
      </ion-text>

      <ion-text>
        <h3>Biography</h3>
      </ion-text>

      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
          exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>

      <ion-text>
        <h3>Interests</h3>
      </ion-text>

      <div class="interest-container">
          <ion-chip>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Icon</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
          <ion-chip>
            <ion-label>Icon Chip</ion-label>
            <ion-icon name="close"></ion-icon>
          </ion-chip>
      </div>
  
        <!-- <div class="logo-container">
            <ion-img src="../assets/images/login-logo.png"></ion-img>
        </div>
  
        <div class="login-form-container">
  
          <ion-item color="medium">
            <ion-label position="floating" color="light">Email</ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>
    
          <ion-item color="medium">
            <ion-label position="floating" color="light">Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
    
          <ion-button expand="full" color="success" fill="solid" class="register-button" shape="round">
            LOGIN
          </ion-button>
  
          <div class="login-link">
            <small>Create your account now!  </small>
            <a [routerLink]="['/register']">Register</a>
          </div>
  
        </div>
  
        <div class="social-network-login-container">
          <ion-text color="light">
            LOGIN WITH
          </ion-text>
          <div class="social-network-buttons table">
    
            <div class="cell">
              <ion-button size="small" shape="round" fill="solid" class="facebook">
                <ion-icon name="logo-facebook"></ion-icon>
              </ion-button>
            </div>
    
            <div class="cell">
                <ion-button size="small" shape="round" fill="solid" class="googleplus">
                  <ion-icon name="logo-googleplus"></ion-icon>
                </ion-button>
            </div>
    
            <div class="cell">
                <ion-button size="small" shape="round" fill="solid" class="twitter">
                  <ion-icon name="logo-twitter"></ion-icon>
                </ion-button>
            </div>
          </div>
    
        </div> -->
  
    </div>
  
  </ion-content>
  
